.icon {

	display: flex;
	align-items: center;

	width: 60px;
	height: 60px;

	border-radius: 5px;
	background: var(--primary);
}

.icon svg {
	display: block;

	margin: 0 auto;

	text-align: center;
}

.pageHeader {
	display: flex;

	margin-bottom: 30px;
}

.pageTitle {
	margin: 0;
	margin-left: 25px;

	font-size: 50px;

	font-weight: 700;
	line-height: 68px;
}

.coursesGrid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 30px;
}

.courseBlock {

	display: grid;
	align-content: start;

	padding: 30px;
	grid-gap: 15px;
	gap: 15px;
}

.courseTitle {
	margin: 0;
	margin-bottom: 20px;

	color: var(--black);

	font-size: 22px;
	font-weight: 500;
	line-height: 30px;
}

.courseItem:hover {
	color: var(--primary);
}

@media screen and (max-width: 990px) {
	.coursesGrid {
		grid-template-columns: 1fr 1fr;
	}
}

@media screen and (max-width: 548px) {
	.coursesGrid {
		grid-template-columns: 1fr;
	}
}
