.filled svg {
	fill: var(--primary);

	transition: all 0.2s;
}

.star svg {
	margin-right: 5px;

	outline: none;
}

.editable {
	cursor: pointer;
}

.ratingWrapper {
	position: relative;
}

.errorMessage {
	position: absolute;
	bottom: -25px;
	left: 0;
	color: var(--red);
}
